* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

// __next는 스타일링 하기 어려운 태그 Next에서 만든 태그 display: content로 설정
@layer base {
  #__next {
    display: contents;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
